.table th, .table td {
    padding: 0.9375rem !important;
}
.displayPreviewRow {
    justify-content: space-between !important;
    display: flex;
    flex-direction: column;
}
.candid-profile a {
    margin-left: 5px;
}