.table th, .table td {
    padding: 0.9375rem !important;
}
.displayPreviewRow {
    justify-content: space-between !important;
    display: flex;
    flex-direction: column;
}
.candid-profile a {
    margin-left: 5px;
}
.cv_icon{
    width: 80px;
    margin-right: 10px;
}
.cv_icon_section,.cv_icon_section:hover{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color:#212529;
}