.export-btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.table thead th {
    font-weight: 600 !important;
}
.table th, .table td {
    padding: 0.9375rem !important;
}
.table>:not(:first-child) {
    border-top: 1px solid currentColor !important;
}
.actions-cls {
    border-bottom: 0 !important;
    border-right: 0 !important;
    padding: 0 !important;
}
.actions-cls i {
    width: 30px !important;
}
button.icon-up, button.icon-down {
    margin-left: 2px;
    border: 0;
}