.card {
    border: 0 !important;
}
.table th, .table td {
    padding: 0.9375rem !important;
}
table {
    border-collapse: inherit;
}
.badge {
    border-radius: 0.125rem;
    font-size: 11px;
    padding: 0.375rem 0.5625rem;
}